<?xml version="1.0" encoding="UTF-8"?>
<web-app>
      <servlet>
        <servlet-name>sregist</servlet-name>
        <servlet-class>SRegistTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sregist</servlet-name>
        <url-pattern>/sregisttest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sinputtest</servlet-name>
        <jsp-file>/sinput.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sinputtest</servlet-name>
        <url-pattern>/inputtest</url-pattern>
    </servlet-mapping>

      <servlet>
        <servlet-name>sregistresult</servlet-name>
        <jsp-file>/sregistresult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sregistresult</servlet-name>
        <url-pattern>/sregistresult</url-pattern>
    </servlet-mapping>

</web-app>